.App {
  text-align: center;
  padding-top: 1rem;
}

.SimpleBorder {
  border: 1px solid black;
}

.AppContainer {
  margin: 0px 1rem;
}

.ClockActual {
  margin: 10px 20px;
}

.ClockButtons {
  padding-bottom: 0.5rem;
}

.PathList > ul {
  margin: 0;
  border-collapse: collapse;
  text-decoration: none;
  padding: 0;
}

.PathHeader {
  padding: 5px;
  margin: 0;
}